/* Забираємо стандартні відступи браузера */
body, html {
  margin: 0;
  padding: 0;
  /* Про всяк випадок фарбуємо і сам "підклад" сайту в темний */
  background-color: #1a1a1a;
}

/* Робимо так, щоб рамки і відступи не збільшували розмір блоків */
* {
  box-sizing: border-box;
}